# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/CustomTranslatorSampleCode/packages/
/CustomTranslatorSampleCode/.vs

# production
/CustomTranslatorSampleCode/CustomTranslatorSampleCode/bin/
/CustomTranslatorSampleCode/CustomTranslatorSampleCode/obj/


