@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">This samples provide a brief inroduction on how to use the Custom Translator API using ASP.NET MVC application</p>
    <p>
        <a href="https://custom-api.cognitive.microsofttranslator.com/swagger/" class="btn btn-primary btn-lg" target="_blank">Custom Translator API Documentation (swagger) &raquo;</a>
        @*<a href="https://custom-api.cognitive.microsofttranslator.com/swagger/" class="btn btn-primary btn-lg" target="_blank">Custom Translator Sample Code Documentation &raquo;</a>*@
    </p>
</div>

<div class="row">
        <div class="col-md-4">
            <h2>Create Project</h2>
            <p>
                This sample shows how to create project using Custom Translator API
            </p>
            <p><a class="btn btn-default" href="../Project/Create">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Upload parallel files</h2>
            <p>This sample shows how to upload two files (parallel for source and target language) and obtain file upload status using Custom Translator API</p>
            <p><a class="btn btn-default" href="../Upload/ParallelFile">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Upload a combo file </h2>
            <p>This sample shows how to upload a combo file (.TMX|.XLF|.XLIFF|.LCL|.XLSX|.ZIP) and obtain file upload status using Custom Translator API</p>
            <p><a class="btn btn-default" href="../Upload/ComboFile">Learn more &raquo;</a></p>
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Initiate a training</h2>
        <p>
            This sample shows how to initiate a training and build a model using Custom Translator API
        </p>
        <p><a class="btn btn-default" href="../Model/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Monitor and obtain training results</h2>
        <p>This sample shows how to obtain training status and results using Custom Translator API</p>
        <p><a class="btn btn-default" href="../Model/Index/{Enter Model Id}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Deploy and check on the status of a model</h2>
        <p>This sample shows how to submit a deployment request for a model using Custom Translator API</p>
        <p><a class="btn btn-default" href="../Model/Deploy/{Enter Model Id}">Learn more &raquo;</a></p>
    </div>
</div>